<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="Neighbourhood library sharing platform" content="A Neighbourhood
    sharing platform that allows users to share books," initial-scale=1.0" />
  <title>Maktaba Mkononi</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>

<body>
  <h1 class="main-header">Maktaba Mkononi</h1>
  <nav class="top-navbar">
    <ul>
      <li><a href="login.html">Login</a></li>
      <li><a href="https://wa.me/254745432800">Contact Us</a></li>
    </ul>
  </nav>
  <div class="hero-images-container">
    <div class="hero-image">
      <img src="library.jpeg" alt="library" title="library" width="700" height="500" loading="lazy" />
      <h2>Welcome to Maktaba Mkononi!</h2>
    </div>
    <div class="hero-image-right">
      <img src="hands.jpeg" alt="hands" title="hands" width="700" height="500" loading="lazy" />
      <h2>
        We are an online platform that allows you to share physical books with
        people from your local area.
      </h2>
    </div>
  </div>
</body>

</html>