<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="Neighbourhood library sharing platform"
      content="A Neighbourhood
    sharing platform that allows users to share book"
    />
    <title>Login</title>
  </head>
  <body>
    <h1>Masomo Mkononi</h1>
    <form action="/login" method="post">
      <fieldset>
        <legend>Login</legend>
        <label for="email">Email:</label>
        <input
          type="text"
          name="email"
          id="email"
          placeholder="Enter Your email"
          required="true"
          autocomplete="on"
        />
        <br />
        <label for="password">Password:</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Enter password"
          required="true"
        />
        <br />
        <a href="passwordreset">forgot password?</a>
        <br />
        <button id="loginbtn" type="button">Login</button>
        <br />
        <p>Don't have an Account?</p>
        <a href="register.html">Sign up</a>
      </fieldset>
    </form>
    <a href="index.html">Back To Home Page</a>
  </body>
</html>
